@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1.2em;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: oklch(58.383% 0.15579 150.805 / 0.1);
}

/* header {
  position: fixed;
} */

nav {
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav div a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3c3c3b;
  margin-left: auto;
}

nav .logo {
  height: 48px;
  margin-right: auto;
}

nav div:first-child {
  margin-right: auto;
}

.fa-bars,
.fa-xmark {
  color: #3c3c3b;
  font-size: 32px;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.closed-sidebar-button {
  display: none;
}

main {
  flex-grow: 1;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
}

.about {
  display: grid;
}

.boardMembers {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boardMembers img {
  margin-top: 60px;
  height: 400px;
}

.card .cardHeader img {
  height: 48px;
  width: 48px;
}

.social-links {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

footer {
  /* position: fixed;
  bottom: 0;
  width: 100vw; */
  text-align: center;
  font-size: 0.55em;
  color: hsla(60, 1%, 23%, 0.7);
}

.fa-square-facebook,
.fa-x-twitter,
.fa-instagram {
  color: hsla(28, 81%, 53%, 0.8);
  font-size: 32px;
}

@media (max-width: 500px) {
  section,
  main,
  footer {
    margin: 10px;
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease-out;
  }

  nav div a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  nav div a:hover:nth-child(n + 2) {
    background-color: #e87e24;
  }

  .open-sidebar-button,
  .closed-sidebar-button {
    padding: 20px;
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    /* background-color: hsla(28, 81%, 53%, 0.95); */
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.flex-container img {
  flex: 0 1 34em;
  border-radius: 10px;
}

/* button {
  margin-left: 24px;
  padding: 9px 25px;
  background-color: #fe6969;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #c44444;
  transition: all 0.8s ease 0s;
}*/
